doctype html
html
  - locals.description = 'Hypermedia toolkit'
  - locals.url = locals.url
  block locals

  head
    block head
    title= locals.title ? 'Mazurka | ' + locals.title : 'Mazurka'
    meta(name='description' content=locals.description)
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

    //- Open graph meta
    meta(property='og:title' content=locals.title)
    meta(property='og:site_name' content='mazurka.io')
    meta(property='og:url' content=locals.url)
    meta(property='og:description' content=locals.description)
    meta(property='og:type' content='article')
    meta(property='og:locale' content='en_US')

    link(rel='stylesheet' href=(process.env.CDN_URL || '/') + 'main.min.css')

  body
    .Toolbar: .Toolbar-contents
      a.Toolbar-logo(href='/') Mazurka
      .Toolbar-links
        a.Toolbar-link(href='/guide/introduction/overview') Guide
        a.Toolbar-link(href='http://hexdocs.pm/mazurka/') Documentation
        a.Toolbar-link(href='https://github.com/mazurka/mazurka') Repository

    block main

    footer

    script(src=(process.env.CDN_URL || '/') + 'main.min.js')
